target/
/dist/
Cargo.lock
**/*.rs.bk
.cache
custom_config.toml
.DS_Store

.idea/
.fleet/
.run/
.encore/
.vscode/

runtimes/supervisor-encore

runtimes/supervisor-encore-linux-amd64

encore-runtime.node-linux-amd64